body {
  margin: 0;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MuiPaper-root.MuiDrawer-paper.MuiDrawer-paperAnchorRight{
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
  background-color: #1F1F23;
}
